$lighter-black: rgb(40, 40, 40);
$light-black: rgb(30, 28, 28);
$black: #0f172a;
$light-grey: #64748b;
$lighter-grey: #f8fafc;
$dark-grey: #475569;
$sand: #CBD5E1;
$white: rgb(255, 255, 255);
$orange: #F59E0B;
$purple: #6366f1;
$red: #ef4444;
